.statusOption {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  text-align: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &.alive {
    background-color: var(--color-success);
  }

  &.dead {
    background-color: var(--color-danger);
  }

  &.unknown {
    background-color: var(--color-warning);
  }
}

.text {
  color: var(--color-text-secondary);
}
