@use 'sass:list';

$selector-radius: 0.375rem;
$transition: 0.15s ease;
$dropdown-gap: 0.5rem;
$hover-bg: hsl(0deg 0% 0% / 4%);
$active-bg: hsl(0deg 0% 0% / 8%);

@mixin selector-size($size: 'small') {
  @if $size == 'small' {
    --width: 5.8rem;
    --padding-y: 0.125rem;
    --padding-x: 0.25rem;
    --font-size: 0.875rem;
    --chevron-w: 4px;
    --chevron-h: 2px;
    /* stylelint-disable-next-line at-rule-empty-line-before */
  } @else {
    --width: 15rem;
    --padding-y: 0.9rem;
    --padding-x: 1rem;
    --font-size: 1rem;
    --chevron-w: 10px;
    --chevron-h: 5px;
  }
}

// Размеры
.small {
  @include selector-size('small');
}

.big {
  @include selector-size('big');
}

// Базовые стили
.selector {
  position: relative;
  width: var(--width);
  border-radius: $selector-radius;
}

.controlButton {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  padding: var(--padding-y) var(--padding-x);
  border: 1px solid var(--color-borders-button);
  border-radius: inherit;

  font-size: var(--font-size);
  color: var(--color-text-secondary);

  background: white;

  transition: border-color $transition;
}

%value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.placeholder {
  @extend %value;

  color: var(--color-text-secondary);
}

.optionLabel {
  @extend %value;
}

.chevron {
  flex-shrink: 0;

  width: var(--chevron-w);
  height: var(--chevron-h);

  color: var(--color-text-secondary);

  transition: transform $transition;
}

.chevronOpen {
  transform: rotate(-180deg);
}

.dropdown {
  position: absolute;
  z-index: 10;
  top: 100%;

  box-sizing: border-box;
  width: 100%;
  margin-top: $dropdown-gap;
  padding: 0;
  border: 1px solid var(--color-borders-card);
  border-radius: $selector-radius;

  background: var(--color-background-main);
}

.option {
  cursor: pointer;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: var(--padding-y) var(--padding-x);

  font-size: var(--font-size);
  color: var(--color-text-secondary);

  &:hover {
    background: $hover-bg;
  }

  &.optionActive {
    background: $active-bg;
  }
}
