.border {
  .input {
    font-size: 20px;
  }
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-borders-button);
}

.underline {
  border-bottom: 1px solid var(--color-text-primary);
  .input {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: var(--color-text-primary);
    font-weight: 500;
  }
}

.inputContainer {
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 15rem;
  box-sizing: border-box;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  color: var(--color-text-primary);
}

.resetButton {
  background: none;
  border: none;
  cursor: pointer;
}
