.border {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-borders-button);
  border-radius: 0.375rem;

  .input {
    font-size: 20px;
  }
}

.underline {
  border-bottom: 1px solid var(--color-text-primary);
}

.inputContainer {
  position: relative;

  display: flex;
  gap: 0.5rem;
  align-items: center;

  box-sizing: border-box;
  width: 15rem;
}

.icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.input {
  width: 100%;
  border: none;
  color: var(--color-text-primary);
  outline: none;
}

.resetButton {
  cursor: pointer;
  border: none;
  background: none;
}
