.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-bottom: 1.625rem;
  padding: 0.32rem;

  box-shadow: -2px 0 8px var(--color-borders-header-footer);
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.buttonPanel {
  display: flex;
  gap: 1rem;
}
