$inner-container-width: 15rem;

.cardContainer {
  display: flex;
  gap: 1rem;

  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.375rem;

  box-shadow: 1px 1px 4px rgb(0 0 0 / 25%);
}

.characterName {
  cursor: pointer;
  color: var(--color-text-primary);
  text-decoration: none;
}

.imageContainer {
  width: $inner-container-width;
}

.dataContainer {
  display: flex;
  justify-content: space-between;
  width: $inner-container-width;
}

.image {
  width: $inner-container-width;
  height: $inner-container-width;
}

.dataColumn {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.field {
  color: var(--color-text-secondary);
}

.editIcon {
  cursor: pointer;
}

.editButtonsContainer {
  display: flex;
  width: fit-content;
  height: fit-content;
}
