$innerContainerWidth: 15rem;

.cardContainer {
  display: flex;
  padding: 0.5rem;
  gap: 1rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.375rem;
  width: fit-content;
}

.characterName {
  color: var(--color-text-primary);
  text-decoration: none;
  cursor: pointer;
}

.imageContainer {
  width: $innerContainerWidth;
}

.dataContainer {
  display: flex;
  justify-content: space-between;
  width: $innerContainerWidth;
}
.image {
  width: $innerContainerWidth;
  height: $innerContainerWidth;
}
.dataColumn {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.field {
  color: var(--color-text-secondary);
}

.editIcon {
  cursor: pointer;
}

.editButtonsContainer {
  display: flex;
  width: fit-content;
  height: fit-content;
}
