.characterDetailsSection {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.backButton {
  align-self: flex-start;
  margin-top: 24px;
}

.loaderWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
