.characterDetailsSection {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.backButton {
  align-self: flex-start;
  margin-top: 24px;
}

.loaderWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
