.loader {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  color: var(--color-text-primary);
  text-align: center;
}
