@import 'normalize.css';

:root {
  --color-success: hsl(114deg 100% 36% / 100%);
  --color-warning: hsl(36deg 100% 50% / 100%);
  --color-danger: hsl(0deg 100% 44% / 100%);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  line-height: 1.5;
  color: rgb(255 255 255 / 87%);
  text-rendering: optimizelegibility;

  color-scheme: light dark;
  background-color: var(--color-background-main);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-color-scheme: light) {
    --color-background-main: white;
    --color-borders-header-footer: hsl(0deg 0% 0% / 10%);
    --color-borders-card: hsl(0deg 0% 0% / 25%);
    --color-borders-button: hsl(0deg 0% 22%);
    --color-text-primary: hsl(0deg 0% 0%);
    --color-text-secondary: hsl(0deg 0% 0% / 60%);
    --color-text-tertiary: hsl(0deg 0% 25%);
  }
}

body {
  overflow: hidden;
  overflow-y: auto;
}

.heading-sm {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: 0.15px;
}

.heading-md {
  font-family: Karla, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
}

.body-sm {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0.015rem;
}

.label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
}

// Layout
.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}
