@import 'normalize.css';

:root {
  // Light theme
  @media (prefers-color-scheme: light) {
    --color-background-main: white;
    --color-borders-header-footer: hsla(0, 0%, 0%, 0.1);
    --color-borders-card: hsla(0, 0%, 0%, 0.25);
    --color-borders-button: hsl(0, 0%, 22%);
    --color-text-primary: hsl(0, 0%, 0%);
    --color-text-secondary: hsla(0, 0%, 0%, 0.6);
    --color-text-tertiary: hsl(0, 0%, 25%);
  }

  // Base styles
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-background-main);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow: hidden;
  overflow-y: auto;
}

// Typography
.heading-sm {
  font-size: 1.25rem;
  letter-spacing: 0.15px;
  line-height: 1.8rem;
  font-weight: 500;
}

.heading-md {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: Karla, sans-serif;
}

.body-sm {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3rem;
  letter-spacing: 0.015rem;
}

.label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
}

// Layout
.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
